{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/estiloAdminUsu.css' %}">
    <title>Adminitrador</title>
</head>
<body>
    <div class="container">

        <div class="naver">
            <div class="img">
                <img src="{% static 'img/logo.png' %}" alt="" width="90px" height="60px">
                <p>Universal Store</p>
            </div>

            <div class="navegar">
                <a href="{% url 'adminUsu' %}"> <button><img src="{% static 'img/icon.png' %}" alt="" width="30px" height="20px"><p> Usuarios</p></button></a>
                <a href="{% url 'adminMarca' %}"> <button><img src="{% static 'img/marca.png' %}" alt="" width="30px" height="20px"><p> Marcas</p></button></a>
                <a href="{% url 'adminProduct' %}"> <button><img src="{% static 'img/producto.png' %}" alt="" width="30px" height="20px"><p> Productos</p></button></a>
                <a href="{% url 'adminOrden' %}"> <button><img src="{% static 'img/orden.png' %}" alt="" width="30px" height="20px"><p> Ordenes</p></button></a>
                <a href="{% url 'Home' %}" class="salida"> <button><img src="{% static 'img/salir.png' %}" alt="" width="30px" height="20px"><p> Salir</p></button></a>
            </div>
        </div>

        <div class="panel">
            <div class="header">
                <p>Bienvenido, {{name|capfirst}}<p>
            </div>
            <h2>Categorias</h2>
            <h1>Busquedas</h1>
            <div class="busqueda">
                <form action="{% url 'resultadoCate' %}" method="POST">{% csrf_token %}
                <input type="text" name="bus" placeholder="Buscar nombre o cedula">
                <button type="submit" class="bus">Buscar</button>
                </form>
            </div>
            <div class="center-info">
                
            <div class="scroll-container">
                <div class="agg"> 
                    <form action="{% url 'aggCate' %}" method="post">{% csrf_token %}
                        <label for="">Agregar Categoria: </label>
                        <input type="text" name="agg">
                        <button class="bus" type="submit">Agregar</button>
                    </form>
                </div>
        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Estado</th>
                    <th>Cambiar estado</th>
                </tr>
            </thead>
            <tbody>
                {% for i in usu%}
                <tr>
                    <td>{{i.nombre|capfirst}}</td>
                    <td>{{i.estado}}</td>
                    <td><form action="{% url 'cambioCate' %}" method="post">{% csrf_token %}
                        <input type="hidden" value="{{i.id}}" name="username">
                        <button class="cam">Cambiar</button>
                    </form></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
            </div>


            </div>
        </div>

    </div>
</body>
</html>