{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Producto</title>
    <link rel="stylesheet" href="{% static 'css/estiloAggPro.css' %}">
</head>
<body>
    <div class="container">
        <div class="left-panel">
            <img src="{% static 'img/logo.png' %}" alt="Logo">
            <h2>Agregar Nuevo Producto</h2>
        </div>
        <div class="right-panel">
            <div class="re">  <a href="{% url 'adminProduct' %}">Regresar</a></div>
            <h2>Formulario de Producto</h2>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="campo">
                    <label for="nombre">Nombre:</label>
                    <input type="text" id="nombre" name="nombre" required>
                </div>
                
                <div class="campo">
                    <label for="peso">Peso:</label>
                    <input type="text" id="peso" name="peso" required>
                </div>
                
                <div class="campo">
                    <label for="precio">Precio:</label>
                    <input type="number" step="0.01" id="precio" name="precio" required>
                </div>
                
                <div class="campo">
                    <label for="cantidad">Cantidad:</label>
                    <input type="number" id="cantidad" name="cantidad" required>
                </div>
                
                <div class="campo">
                    <label for="categoria">Categoría:</label>
                    <select id="categoria" name="categoria" required>
                        {% for categoria in categorias %}
                        <option value="{{ categoria.id }}">{{ categoria.nombre }}</option>
                        {% endfor %}
                    </select>
                </div>
                
                <div class="campo">
                    <label for="marca">Marca:</label>
                    <select id="marca" name="marca" required>
                        {% for marca in marcas %}
                        <option value="{{ marca.id }}">{{ marca.nombreMar }}</option>
                        {% endfor %}
                    </select>
                </div>
                
                <div class="campo">
                    <label for="estado">Estado:</label>
                    <select id="estado" name="estado" required>
                        {% for estado in estados %}
                        <option value="{{ estado.0 }}">{{ estado.1 }}</option>
                        {% endfor %}
                    </select>
                </div>
                
                <div class="campo">
                    <label for="imagen">Imagen:</label>
                    <input type="file" id="imagen" name="imagen" accept="image/*" required>
                </div>
                
                <button type="submit" class="btn">Agregar Producto</button>
            </form>
        </div>
    </div>
</body>
</html>
