* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url('../img/tlf.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;

}

.container{
    width: 100%;
    height: 100%;
  
}
.login_container {
    opacity: 1;
    background: #fff;
    width: 90%;
    max-width: 400px;
    margin: 20% auto;
    height: auto;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
}

.login_container h1 {
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.icono_usuario {
    background:rgba(39, 77, 175, 0.9);
    margin: 0 auto;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 15px;
    text-align: center;
}

.icono_usuario img {
    width: 80px;
    height: 80px;
    margin: 15% auto;
}

.login_container form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login_container input {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    border-top: none;
    border-right: none;
    border-left: none;
    outline: none;
    transition: all .1s;
}

.login_container input:focus {
    border-bottom: 2px solid #0069f4;
}

.login_container .btn {
    height: 40px;
    width: 160px;
    border-radius: 20px;
    background: rgba(39, 77, 175, 0.9);
    border-color: rgba(39, 77, 175, 0.9);
    color: white;
    font-weight: bold;
}

form .cuenta{
    margin-top: 20px;
    text-decoration: none;
}

form .inicio{
    text-decoration: none;
    margin-top: 10px;
}

@media (min-width: 768px) {
       body{
        background: url('../img/pc.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 100vh;
    }
    .login_container {
        width: 50%;
    }
}

@media (min-width: 1024px) {
    body{
        background: url('../img/pc.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        height: 0vh;
    }
    .login_container {
        width: 30%;
        margin: 3% auto;
    }

    .icono_usuario {
        width: 180px;
        height: 180px;
    }

    .icono_usuario img {
        width: 100px;
        height: 100px;
    }
}
